<html>
 <head>
 <title>TODO Vue.js</title>
     <link href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,500">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="todo.css">
	

 </head>
 <body>
 	<div class="title">TODO List :</div>
	<div id="main">
		<div id="app-7">
		  <ul>
			<!--
			  Now we provide each todo-item with the todo object
			  it's representing, so that its content can be dynamic.
			  We also need to provide each component with a "key",
			  which will be explained later.
			-->
			<todo-item
			  v-for="item in workList"
			  v-bind:todo="item"
			  v-bind:key="item.id"
			></todo-item>
		  </ul>

		  <form>
			<div>
				<label>Task : </label><input id="toDoTitle" v-model="toDoTitle">
			</div>
			<div>
				<label>Notes : </label><textarea id="toDoSummary" v-model="toDoSummary"><pre></pre></textarea>
			</div>
			<button class="btn-blue btn-right" onClick="add();">{{btnAddTitle}}</button><!--v-on:click="addItem"-->
			<button class="btn-blue btn-left" v-on:click="cancel">Cancel</button>
			<p>{{ message }}</p>

		   </form>
		</div>
	</div>	
	
	  <!-- Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script> 
  <!-- Firebase -->
 	<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase-firestore.js"></script>
  <!-- VueFire -->
  <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script> 


	<script type="text/javascript" src="fireStore.todo.js"></script>
 </body>
</html>
