<html>
 <head>
 <title>TODO Vue.js</title>
     <link href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,500">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="todo.css">
 </head>
 <body>
 	<div class="title">TODO List :</div>
	<div id="main">
		<div id="app-7">
		  <ul>
			<li v-for="todo in workList" v-bind:class="{inactive: todo.done}" >
				<div v-bind:id="todo.id" v-on:click="handleClick(todo.id)" v-bind:class="{'noDrop':todo.done}" :draggable="!todo.done" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)">
					<b>{{ todo.toDoTitle | capitalize}}</b>
					<i class="fa fa-trash icon-right" @click="handleTrash(todo.id)"></i>
					<i v-bind:class="{'fa-eye': todo.done,'fa-eye-slash': !todo.done}" class="fa icon-right" v-on:click="handleHide(todo.id)"></i>
					<i class="children fas fa-list-ol icon-right" v-on:click="handleClickChildren(todo.id)"><span>{{todo.childrenNr}}</span></i>
					<br />
					<span class='pre'>{{ todo.toDoSummary }}</span>
					<div v-on:click="handleSubClick(todo.id)" v-bind:class="{'hidden':currentParent!=todo.id,'shown':currentParent==todo.id,'subTask':true}">
						
						<p>Sub Tasks :</p>
							<span v-html="childrenList"></span></br>
							<span>
								<label>Title : </label><input id="toDoSubTitle" v-model="toDoSubTitle">
							</span></br>
							<span>
								<label>Notes : </label><textarea id="toDoSubSummary" v-model="toDoSubSummary"><pre></pre></textarea>
							</span>
						<button v-bind:data-parent="todo.id" class="btn-blue btn-small btn-right" v-on:click="addSubItem">Add</button>
					</div>
				</div>
			</li>
		  </ul>

		  <form>
			<div>
				<label>Task : </label><input id="toDoTitle" v-model="toDoTitle">
			</div>
			<div>
				<label>Notes : </label><textarea id="toDoSummary" v-model="toDoSummary"><pre></pre></textarea>
			</div>
			<button class="btn-blue btn-right" v-on:click="addItem">{{btnAddTitle}}</button>
			<button class="btn-blue btn-left" v-on:click="cancel">Cancel</button>
			<p>{{ message }}</p>

		   </form>
		    <form style="background-color:white;background:white;border:none;">
		  		<button class="btn-red btn-right" onclick="saveToFile()">Save to file</button>
				<a id='btnOpen'  href='#' ><button class="btn-red btn-right">Import from file</button></a>
				
				<textarea id='tbMain' style="display:none"></textarea>

			</form>
		</div>
	</div>	
	


	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="todo.js"></script>
 </body>
</html>
